<template>
  <div>
    <form @submit="addTodoFormSubmit">
      <input
        type="text"
        class="form-control mr-1"
        v-model="title"
        name="title"
        autocomplete="off"
        placeholder="Add Todo..."
      />
      <button
        type="submit"
        class="btn-primary btn-sm"
        v-bind:class="{'disabled':!title.trim()}"
        v-bind:disabled="!title.trim()"
      >Submit</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "AddTodo",
  data() {
    return {
      title: ""
    };
  },
  methods: {
    ...mapActions(["addTodo"]),
    addTodoFormSubmit(e) {
      e.preventDefault();
      this.addTodo(this.title);
      this.title = "";
    }
  }
};
</script>

<style scoped>
form {
  display: flex;
  align-items: center;
}

.disabled {
  cursor: default;
}
</style>