<template>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0)">TodoList</a>

    <TodoCount />
  </nav>
</template>

<script>
import TodoCount from './TodoCount.vue';

export default {
  name: "Header",
  components:{
    TodoCount
  }
};
</script>

<style scoped>
</style>