<template>
  <div>
      <Header />
      <div class="container mt-3">
        <AddTodo class="mb-2"/>
        <Todos />
      </div>
      <Footer />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Todos from './Todos.vue';
import AddTodo from './AddTodo.vue';
import Header from './Header.vue';
import Footer from './Footer.vue';

export default {
  name: 'Home', 
  components: {
        Todos,
        AddTodo,
        Header,
        Footer, 
  },
}
</script>

<style>
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  .btn:hover {
    background: #666;
  }
</style>
