<template>
    <div class="todos">
        <div v-bind:key="todo.id" v-for="todo in allTodos">
            <TodoItem v-bind:todo='todo' v-on:del-todo="$emit('del-todo',todo.id)"/>
        </div>
    </div>
</template>

<script>
import TodoItem from './TodoItem.vue';
import {mapGetters, mapActions} from 'vuex';

export default {
    name: 'Todos',
    computed: mapGetters(['allTodos']),
    created(){
        this.fetchTodos();
    },
    components:{
        TodoItem
    },
    methods: {
        ...mapActions(['fetchTodos'])
    }
}
</script>

<style scoped>

</style>