<template>
  <div class="todo-item">
    <div class="d-flex align-items-center">
      <input type="checkbox" v-on:change="markComplete" />
      <p class="m-0 ml-1" v-bind:class="{'is-complete': todo.completed}">{{todo.title}}</p>
    </div>
    <button class="btn-sm btn-danger" v-on:click="deleteTodo">Delete</button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "TodoItem",
  props: ["todo"],
  methods: {
    ...mapActions(["deleteTodoAction", "updateTodoAction"]),
    markComplete() {
      this.updateTodoAction(
        Object.assign(JSON.parse(JSON.stringify(this.todo)), {
          completed: !this.todo.completed
        })
      );
    },
    deleteTodo() {
      this.deleteTodoAction(this.todo.id);
    }
  }
};
</script>

<style scoped>
.todo-item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-complete {
  text-decoration: line-through;
}
.del {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
</style>