<template>
    <span class='text-white'>{{pendingTodosCount}} Todo Pending</span>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    name:'TodoCount',
    computed: mapGetters(['pendingTodosCount']),
    data(){
        return {
            count: 0
        }
    },
}
</script>

<style scoped>

</style>